###### ignore 폴더 및 파일
dataset/
*/dataset/*

### JupyterNotebooks ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

## vscode
/.vscode/*

## .DS_Store
*.DS_Store